/*!
 * Template Web Phim
 * Copyright 2019 Dang Hai
 */
body{background-color:#414141;}
.header .navbar.navbar-dark .navbar-nav .nav-link:hover{color:#000;}
a:visited {
    color: #FF9800;
}
.slider{margin-bottom: 20px;margin-top:20px;}
.slider img{padding:5px;}


 /*HEADER & NAVBAR*/

.header .navbar{background:#0f0f0f;padding-top:0;padding-bottom:0;color:#fff;border-radius:0;box-shadow:none;border-bottom:1px solid #080808;padding:5px;}
@media (min-width:768px){.header .navbar{padding-top:.75rem;padding-bottom:.75rem;}
.header .zero h1{margin-bottom:50px;line-height:1.5;}
}
@media (min-width:992px){.header .navbar.navbar .navbar-nav .nav-link{padding-left:1.2rem;padding-right:1.2rem;}
}
.header .navbar.navbar-dark .navbar-nav .nav-link{color:#fff;}
.header .navbar .navbar-brand{color:#eee;}
.navbar-dark .navbar-toggler{color:#29487d;border-color:#29487d;}
.custom-toggler .navbar-toggler-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(41,72,125, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
.header .navbar .navbar-nav > li > .dropdown-menu{margin-top:-5px;box-shadow:0 4px 8px rgba(0,0,0,.1);background-color:#fff;border-radius:2px;}
.header .navbar .form-inline label{color:#ccc;}
.header .navbar .form-inline .search-field{display:inline-block;width:80%;background:none;border:none;border-bottom:1px solid transparent;border-radius:0;color:#ccc;box-shadow:none;color:inherit;transition:border-bottom-color 0.3s;}
.header .navbar .form-inline .search-field:focus{border-bottom:1px solid #ccc;}
.header .navbar .navbar-collapse span{margin-top:5px;}

/*LOGIN -REGISTER BUTTON STYLE*/
.header .navbar .navbar-collapse span .login{margin-right:.5rem;text-decoration:none;}
.header .navbar .reg-button, .header .navbar .reg-button:active{background:#fff;border-radius:5px;font-size:inherit;color:#fff;box-shadow:none;border:none;text-shadow:none;padding:.4rem .8rem;transition:background-color 0.25s;}
.header .navbar .reg-button, .header .navbar .reg-button:active{background:linear-gradient(#67ae55, #578843);background-color:#69a74e;box-shadow:inset 0 1px 1px #a4e388;border-color:#3b6e22 #3b6e22 #2c5115;}
.header .navbar .reg-button:hover{background:#67ae55;}

/*************IFRAME VIDEO REPSONSIVE*********************/
.header .zero h1{color:#bf3f8a;font-family:'Bitter', serif;font-size:40px;margin-top:20px;margin-bottom:80px;background-color:#ffffff6b;}
.header .zero .embed-responsive iframe{background-color:#ffffff6b;}



/*************FADEIN EFFECT CSS3**************/
@-webkit-keyframes fadeIn{from{opacity:0;}
to{opacity:1;}
}
@-moz-keyframes fadeIn{from{opacity:0;}
to{opacity:1;}
}
@keyframes fadeIn{from{opacity:0;}
to{opacity:1;}
}
.embed-responsive{opacity:0;-webkit-animation:fadeIn ease-in 1;-moz-animation:fadeIn ease-in 1;animation:fadeIn ease-in 1;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-animation-duration:3s;-moz-animation-duration:3s;animation-duration:3s;}
.header .zero .embed-responsive iframe{-webkit-animation-delay:0.7s;-moz-animation-delay:0.7s;animation-delay:0.7s;}
.fade-in.two{-webkit-animation-delay:1.2s;-moz-animation-delay:1.2s;animation-delay:1.2s;}
.fade-in.three{-webkit-animation-delay:1.6s;-moz-animation-delay:1.6s;animation-delay:1.6s;}


/************FOOTER**************************/

.footer{padding:10px 0;color:#fff;background-color:#0f0f0f;text-align: center;}
.footer h3{margin-top:0;margin-bottom:12px;font-weight:bold;font-size:16px;}
.footer ul{padding:0;list-style:none;line-height:1.6;font-size:14px;margin-bottom:0;}
.footer ul a, .footer .copyright a{color:inherit;text-decoration:none;opacity:0.6;}
.footer ul a:hover{opacity:0.8;}
@media (max-width:767px){.footer .item:not(.social){text-align:center;padding-bottom:20px;}}
.footer .item.text{margin-bottom:36px;}
@media (max-width:767px){.footer .item.text{margin-bottom:0;}}
.footer .item.text p{opacity:0.6;margin-bottom:0;}
.footer .item.social{text-align:center;}
@media (max-width:991px){.footer .item.social{text-align:center;margin-top:20px;}}
.footer .item.social > a{font-size:20px;width:36px;height:36px;line-height:36px;display:inline-block;text-align:center;border-radius:50%;box-shadow:0 0 0 1px rgba(255,255,255,0.4);margin:0 8px;color:#fff;opacity:0.75;}
.footer .item.social > a:hover{opacity:0.9;}
.footer .copyright{text-align:center;padding-top:24px;opacity:0.3;font-size:13px;margin-bottom:0;}

/***SIDEBAR****/
.sidebar{padding-left:5px;text-align:left;padding:0;box-shadow:0 1px 2px rgba(0, 0, 0, .1);background:#0f0f0f;margin-bottom:15px;position:relative;}
.sidebar>.row{display:table-row;font-family:'Roboto Condensed', sans-serif;font-size:15px;}
.sidebar h2.textTitle, .bodyTitle h2{padding:0 15px;color:#ffeb3b;font-weight:bold;font-family:'Roboto Condensed';font-size:16px;height:40px;line-height:40px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-transform:uppercase;display:block;border-bottom:1px solid #080808;}
.sidebar>.row>div.more{text-align:right;font-weight:normal;padding-right:15px;color:red;}
.sidebar>.row>div.more{position:absolute;width:auto!important;height:auto!important;border:none;top:11px;right:12px;padding:0px!important;line-height:normal!important;}
ul.textWidget{list-style:none;padding:0px;margin-bottom:0px;}
ul.textWidget li.sub-item{padding:10px 12px;border-bottom:1px dashed #6d6d6d;}
ul.textWidget li.sub-item a{color:#fff;text-decoration:none;}
ul.textWidget li.sub-item a:hover{color:red;}


/*************BODY**********************/
.bodyContainer{margin-top:20px;}
.body-container .simple-slider,.body-container .row{margin-bottom: 30px;}
.custom-img{border-radius: 5px;margin-bottom: 5px;}
.bodyTitle h2{font-size:24px;}

.thumbnail img {max-width: 220px;}
h2.titleName{font-size: 18px;padding: 10px;}
h2.titleName a {
	color:#fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


















